
/* Skapar ett grid för sidorna #start, Historia och utövare */
#Start >.wrapper,
#Historia >.wrapper,
#utövare >.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "header header"
    "nav nav"
    "main aside"
    "footer footer";
    text-align: center;
    margin: 0;
}

/* Tar bort margin runt bodyn och griden  */
body{
    margin: 0;
}

/* Ändrar storleken på bilder på historia,Utövar till 25vw */
#Historia img,
#utövare img{
    width: 25vw;
}

/* Ändrar storleken på bilder på main, start till 50vw */
#main img,
#Start img{
    width: 40vw;
}

/* Ändrar storleken på bilder på info,form till 25vw */
#info img,
#form img{
    width: 25vw;
}

/* Ändrar bakgrundsfärgen på start med hjälp av rgb(red,green,blue)  */
#Start >.wrapper{
    background-color: rgb(115, 119, 116);
}

/* Ändrar bakgrundsfärgen på main  */
#main >.wrapper{
    background-color: #a9a9a9;
}

/* Ändrar bakgrundsfärgen på form  */
#form >.wrapper{
    background-color: #ffecff;
}

/* Skapar ett nytt grid för dom 3 "start" sidorna */
#main >.wrapper,
#form >.wrapper,
#info >.wrapper{
    /* (display: grid;) visar sidan i grid */
    display: grid;
    /* Gör en två spalt layout som tar upp halva sidan var */
    grid-template-columns: 1fr 1fr;
    /* Sätter upp 4 rader med automatisk storlek */
    grid-template-rows: auto auto auto auto auto;
    /* Anger dom olika delarna av gridet så att man kan dela upp det */
    grid-template-areas:
    "header header"
    "nav nav"
    "main main"
    "aside aside"
    "footer footer";
    /* Justerar texten på sidan mot mitten */
    text-align: center;
    /* Tar bort gränsutrymme runt sidan */
    margin: 0;
}

/* Skapar ett nytt grid inuti form, så att man kan dela upp aside sectionen i två delar  */
#form main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "section1 section2";
}

/* Ger dom två sections i form en indivuel plats i gridet */
#form section:nth-child(1){
    grid-area: section1;
}

#form section:nth-child(2){
    grid-area: section2;
}

/* Delar upp aside i två delar så att man kan lägga mer info */
#main aside,
#info aside{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "section1 section2";
}

#main section:nth-child(1),
#info section:nth-child(1){
    grid-area: section1;
}

#main section:nth-child(2),
#info section:nth-child(2){
    grid-area: section2;
}


/* Ändrar font på h1,h2 på start sidrona  */
#Start h1,h2{
    font-family:fonts;
}


/* Lägger till en "custom" font */
@font-face{
    src: url(/fonts/font/Sigmar-Regular.ttf);
    font-family: fonts;
}

/* iframe */
iframe{
    /* Ändrar storleken på iframe */
    height: 15em;
    width: 25em;
}

/* Misc */
/* Placerar alla olika delar på rätt ställe i grid */
header{
    grid-area: header;
}

nav{
    grid-area: nav;
}

main{
    grid-area: main;
}


aside{
    grid-area: aside;
    
}

footer{
    grid-area: footer;
}

/* Almäna regler för img */
img{
    margin-top: 30px;
    border-radius: 2%;
}

/* Nav bar (nav bar är tagen fårn https://www.w3schools.com/css/css_navbar_horizontal.asp) */
/* ul stil för listan */
ul{
    /* Tar bord "prickarna" framför list elementen */
    list-style-type: none; 
    /* tar bort utrymmet melan list element */                             
    margin: 0;
    /* Tar bort utrymet it listan */
    padding: 0;
    /* Håller allt inerhåll inanför listan */
    overflow: hidden;
    /* ändrar bakgrundsfärgen */
    background-color: gray; 
}

/* flyttar list text till vänster */
ul li{
    float: left;
}

ul li a{
    /* gör texten till en block element */
    display: block;
    /* ändrar text färgen till vit */
    color: white;
    /* flyttar texten till mitten */
    text-align: center;
    /* lägger till mellanrum mellan text */
    padding: 18px 20px;
    /* tar bort sträck och färg under länk */
    text-decoration: none; 
    /* Ändar storleken på text */
    font-size: 25px;
}

/* LoVe Focus HAte regler */
a:link{
    color: #ffecff;
}

a:visited{
    color: #f8f8f8;
}

a:focus{
    border: 1px dotted #000;
}

a:hover{
    background: #a9a9a9;
}

a:active{
    font-size: 24px;
}


/* Tabel */
table{
    /* Flyttar på tabellen på sport 2 start */
    border-spacing: 0;
    margin-left: 25%;
    font-size: 20px;
    /* colapsar gränserna runt tabellen in till en gräns */
    border-collapse: collapse;
}

table,td,th{
    /* skapar en gräns runt tabellen */
    border: 1px solid black;
}

/* Form */
textarea{
    width: 25%;
    height: 150px;
    padding: 12px 20px;
    /* skapar en linje runt textrutan */
    border: 2px solid;
    border-radius: 4px;
    background-color:#f8f8f8 ;
    font-size: 16px;
    /* tar bort möjligheten att ändra storleken på textområdets */
    resize: none;
}


 



