body{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
    text-align: center;
    margin: 0;

}

/* Misc */
header{
    grid-area: header;
}

nav{
    grid-area: nav;
}

main{
    grid-area: main;
}


aside{
    grid-area: aside;
    
}

footer{
    grid-area: footer;
}

img{
    margin-top: 30px;
    border-radius: 2%;
}

/* Nav bar (nav bar är tagen fårn https://www.w3schools.com/css/css_navbar_horizontal.asp) */
ul{
    list-style-type: none;                              
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray; 
}

ul li{
    float: left;
}

ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none; 
    font-size: 25px;
}

li:nth-child(5){
    float: right;
}


/* Tabel */
table{
    border-spacing: 0ch;
    margin-left: 41%;
    margin-right: 30%;
}


/* Form */
textarea{
    width: 25%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 4px;
    background-color:#f8f8f8 ;
    font-size: 16px;
    resize: none;
}


/* Main */
#main >.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "header header"
    "nav nav"
    "main aside"
    "footer footer";
    text-align: center;
    margin: 0;
}

#main img{
    height: 50%;
    width: 50%;
}

/* Start */
 #Start section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "section1 section2 section3";
    text-align: center;
}

#Start img{
    height: 25vh;
}

#Start div:nth-child(1){
    grid-area: section1;
}

#Start div:nth-child(2){
    grid-area: section2;
}

#Start div:nth-child(3){
    grid-area: section3;
} 

/* Historia */
#Historia section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "section1 section2 section3";
    text-align: center;
}

#Historia div:nth-child(1){
    grid-area: section1;
}

#Historia div:nth-child(2){
    grid-area: section2;
}

#Historia div:nth-child(3){
    grid-area: section3;
} 

#Historia img{
    height: 40vh;
    width: 30vw;

}

#Historia > .wrapper{
    background-color: whitesmoke;
}

/* Utövare */
#utövare section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "section1 section2 section3";
    text-align: center;
}

#utövare div:nth-child(1){
    grid-area: section1;
}
#uövare div:nth-child(2){
    grid-area: section2;
}
#utövare div:nth-child(3){
    grid-area: section3;
}


#utövare img{
    width: 50vh;
}

/* Info */ 
#info img{
    width: 50vh;
}







