body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "header header"
    "nav nav"
    "main aside"
    "footer footer";
    text-align: center;
    margin: 0;
}

/* Lägger till en "custom" font */
@font-face{
    src: url(/fonts/font/Sigmar-Regular.ttf);
    font-family: fonts;
}

/* iframe */

iframe{
    height: 20em;
    width: 35em;
}

/* Misc */
/* Placerar alla olika delar på rätt ställe i grid */
header{
    grid-area: header;
}

nav{
    grid-area: nav;
}

main{
    grid-area: main;
}


aside{
    grid-area: aside;
    
}

footer{
    grid-area: footer;
}

/* Almäna regler för img */
img{
    margin-top: 30px;
    border-radius: 2%;
}

/* Nav bar (nav bar är tagen fårn https://www.w3schools.com/css/css_navbar_horizontal.asp) */
/* ul stil för listan */
ul{
    /* Tar bord "prickarna" framför list elementen */
    list-style-type: none; 
    /* tar bort utrymmet melan list element */                             
    margin: 0;
    /* Tar bort utrymet it listan */
    padding: 0;
    /* Håller allt inerhåll inanför listan */
    overflow: hidden;
    /* ändrar bakgrundsfärgen */
    background-color: gray; 
}

/* flyttar list text till vänster */
ul li{
    float: left;
}

ul li a{
    /* gör texten till en block element */
    display: block;
    /* ändrar text färgen till vit */
    color: white;
    /* flyttar texten till mitten */
    text-align: center;
    /* lägger till mellanrum mellan text */
    padding: 18px 20px;
    /* tar bort sträck och färg under länk */
    text-decoration: none; 
    /* Ändar storleken på text */
    font-size: 25px;
}

/* Flyttar den femte text elemtet till höger */
li:nth-child(5){
    float: right;
}


/* Tabel */
table{
    /* Flyttar på tabellen på sport 2 start */
    border-spacing: 0;
    margin-left: 25%;
    font-size: 20px;
}


/* Form */
textarea{
    width: 25%;
    height: 150px;
    padding: 12px 20px;
    /* lägger till linje runt textytan */
    box-sizing: border-box;
    /* skapar en linje runt textrutan */
    border: 2px solid;
    border-radius: 4px;
    background-color:#f8f8f8 ;
    font-size: 16px;
    /* tar bort möjligheten att ändra storleken på textområdets */
    resize: none;
}

#form img{
    /* ändrar storleken på bilden på form sidan */
    width: 25vw;
}

#form >.wrapper{
    /* Skapar en grid till form */
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "header header"
    "nav nav"
    "main aside"
    "footer footer";
    text-align: center;
    margin: 0;
}


/* Main */
#main >.wrapper{
    /* Skapar en grid till index */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "header"
    "nav"
    "main" 
    "aside"
    "footer";
    text-align: center;
    margin: 0;
}

#main img{
    /* ändrar storleken på img på index */
    width: 30vw;
}

/* Start */

#Start img{
    height: 40vh;
}
#Start {
    background-color:#C0C0C0;
}

/* Historia */


#Historia img{
    height: 40vh;
    width: 30vw;

}

#Historia > .wrapper{
    /* ändrar bakfrundsfärger */
    background-color: whitesmoke;
}

/* Utövare */

#utövare img{
    width: 25vw;
}

/* Info */ 
#info img{
    width: 50vh;
}







